@media (min-device-width: 321px) 
   and (max-device-width: 768px) {

    .about-button-tablet,
    .some-info-button-tablet {
        font-family: Arial;
        color:  #608dc1;
        font-size: 1.66rem;
        border-style: solid;
        border-width: 2px;
        border-color:  #7ca7d9;
        box-sizing: border-box;
        background-color:  #7ca7d9;
        padding: 1.75rem;
    }

    .menu__item {
        width: 12rem;
    }

    .section-about,
    .section-info {
        display: none;
    }

    .content {
        position: relative;
        flex-direction: column-reverse;
        margin: 0 5%;
    }

    .main {
        margin: 0 2%;
    }

    .social-icons-tablet {
        display: flex;
        flex-direction: column;
    }
}